# public net.minecraft.client.renderer.texture.TextureMap initMissingImage()V # func_110569_e
# public net.minecraft.block.material.MapColor colorValue # for rendering minimap
public net.minecraft.client.settings.KeyBinding func_74505_d()V # unpressKey
public net.minecraft.client.Minecraft field_184129_aV # actionKeyF3